a.navbar-brand {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.nav-link {
    padding: 0;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    box-shadow: 0 0 0 0;
}